@media screen and (max-width: 1800px) {
    body {
        max-width: 1800px;
    }

    .container {
        max-width: 1800px;
    }

    .start_container {
        max-height: 753px;
    }

    .photo-start {
        max-width: 1800px;
    }


    .about_container {
        max-width: 1800px;
    }

    .photo {
        max-width: 900px;
        max-height: 613px;
    }


    .footer {
        max-width: 1800px;
        max-height: 190px;
    }
}

@media screen and (max-width: 1680px) {
    body {
        max-width: 1680px;
    }

    .container {
        max-width: 1500px;

    }

    .start_container {

        max-height: 651px;
    }

    .photo-start {
        max-width: 1600px;
    }

    .about_container {
        max-width: 1680px;
    }
    .photo {
        max-width: 850px;
        max-height: 613px;
    }

    .footer {
        max-width: 1670px;
        max-height: 190px;
    }
}




@media screen and (max-width: 1487px) {
    body {
        max-width: 1440px;
    }

    .container {
        max-width: 1440px;
    }

    .start_container {

        max-height: 566px;
    }

    .photo-start {
        max-width: 1487px;
    }
    .about_container {
        max-width: 1680px;
    }
    .photo {
        max-width: 710px;
        max-height: 613px;
    }


    .footer {
        // max-width: 1440px;
        max-height: 170px;
    }
}





@media screen and (max-width: 1280px) {
    body {
        max-width: 1280px;

        .container {
            max-width: 1280px;
        }
    }

    .start_container {

        max-height: 482px;

    }

    .photo-start {
        max-width: 1280px;
    }


    .photo {
        max-width: 510px;
        max-height: 613px;
    }

    .footer {
        max-width: 1280px;
        max-height: 140px;
    }
}

// ipad 1080 x 810
@media screen and (max-width: 1080px) {
    body {
        max-width: 1080px;

    }

    .container {
        max-width: 1080px;
    }

    .photo {
        max-width: 480px;
        max-height: 380px;
    }

    .start_container {
        max-height: 383px;
    }

    .photo-start {
        max-width: 1080px;
    }

    .footer {
        max-width: 1080px;
        max-height: 100px;
    }
}

@media screen and(max-width: 900px) {
    .start_container {
        max-height: 286px;
    }


    .photo-start {
        max-width: 890px;
    }
}



// ipad 810 
@media screen and (max-width: 810px) {
    body {
        max-width: 810px;
    }

    .start_container {
        max-height: 243px;
    }

    .photo-start {
        max-width: 810px;
    }

    .about_container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .photo {
        max-width: 530px;
        max-height: 380px;
    }

    .about-article {
        justify-content: center;
        align-items: center;
    }

    .footer {
        max-width: 810px;
        max-height: 80px;
    }
}

@media screen and (max-width: 710px) {
    body {
        max-width: 710px;
    }

    .start_container {

        max-height: 193px;
    }

    .photo-start {
        max-width: 710px;
    }

    .about_container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .photo {
        max-width: 530px;
        max-height: 380px;
    }

    .about-article {
        justify-content: center;
        align-items: center;
    }


    .footer {
        max-width: 710px;
        max-height: 80px;
    }
}
@media screen and (max-width: 610px) {
    body {
        max-width: 610px;
    }

    .start_container {

        max-height: 143px;
    }

    .photo-start {
        max-width: 610px;
    }

    .about_container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .photo {
        max-width: 530px;
        max-height: 380px;
    }

    .about-article {
        justify-content: center;
        align-items: center;
    }


    .footer {
        max-width: 610px;
        max-height: 80px;
    }
}

@media screen and (max-width: 570px) {
    body {
        max-width: 570px;
    }

    .start_container {
        // max-width: 570px;
        max-height: 120px;
    }

    .photo-start {
        max-width: 570px;
    }

    .about_container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .photo {
        max-width: 410px;
        max-height: 320px;
    }

    .about-article {
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 10px;

    }

    .footer {
        max-width: 610px;
        max-height: 80px;
    }
}

// iphone 12/13 pro max
@media screen and (max-width: 428px) {
    body {
        max-width: 428px;
    }

    .start_container {
        //  max-width: 428px;
        max-height: 47px;
    }

    .photo-start {
        max-width: 428px;
    }

    .footer {
        max-width: 428px;
        max-height: 60px;
    }
}

@media screen and (max-width: 412px) {
    body {
        max-width: 412px;
    }

    .start_container {
        // max-width: 412px;
        max-height: 42px;
    }

    .photo-start {
        max-width: 412px;
    }

    .footer {
        max-width: 412px;
        max-height: 55px;
    }
}


@media screen and (max-width: 384px) {
    body {
        max-width: 384px;
    }

    .start_container {
        // max-width: 384px;
        max-height: 22px;
    }

    .photo-start {
        max-width: 384px;
    }

    .footer {
        max-width: 384px;
        max-height: 40px;

    }
}