//Basic Settings
* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    max-height: 3168px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: auto;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}