//Basic Settings
* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 3168px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1920px;
    margin: auto;
}

img {
    max-width: 100%;
}
button{
    cursor: pointer;
}
a {
    cursor: pointer;
}