// .footer-container {
//     width: 1920px;
//     height: 208px;
// }

.footer {
    width: 1920px;
    height: 208px;
    background-color: $colorFooter;
    background-repeat: no-repeat;
    opacity: 1;
}