.about_container{
    width: 1920px;
    height: 1080px;
    background: $light 0% 0% no-repeat padding-box;
opacity: 1;
display: flex;
}
.about-photo{
    display: flex;
    align-items: center;
    
}
.photo{
    width: 1090px;
    height: 613px;
}
.about-article{
    // display: flex;
    // align-items:center
}
.about-title{
display: flex;
}
.title{
    width: 304px;
    height: 57px;
    margin-bottom: 30px;
    text-align: left;
    font: normal normal 900 48px/57px Montserrat;
    letter-spacing: 19.2px;
    color: $black;
    opacity: 1;
}
.line-two{
    width: 536px;
height: 0px;
border: 2px solid $colorLine;
opacity: 1;
}
.about-text{

}
.text {
    width: 536px;
    height: 459px;
    margin-bottom: 30px;
     text-align: left;
    font: normal normal 300 16px/24px Montserrat;
    letter-spacing: 0px;
    color: $black;
    opacity: 1;

}