.slider-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper {
  width: 1364px;
  height: 767px;
  position: relative;
  margin-bottom: 20px;
  opacity: 1;
}

.slider-photo {
  width: 1274px;
  height: 707px;
  padding-left: 80px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 30px;
  height: 50px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

.right {
  right: 20px;
  background-image: url(../../img/arrow-right.svg);
  background-repeat: no-repeat;
  // background-position: center;
}

.left {
  left: 20px;
  background-image: url(../../img/arrow-left.svg);
  background-repeat: no-repeat;

}