

// .container {
// min-width: 1364px; 
//  overflow: hidden;
//     // height: 767px;
//     // opacity: 1;
// }
// .slider{
//     min-width: 1364px;
//     height: 1364px; 
//     display: flex;
//  }
// .slider-line{
//     min-width: 1364px;

//     display: flex;
//     position: relative;
//     transition: all ease 1s;
//     //  overflow: hidden;
// }


// // .swiper-button-prev{
// //     background-image: url(../../img/arrow-left.svg);
// //     background-repeat: no-repeat;
// //     cursor: pointer;
// // }
// // .swiper-button-next{
// //     background-image: url(../../img/arrow-right.svg);
// //     background-repeat: no-repeat;
// //     cursor: pointer;
// // }

// .photo_gallery {
//     width: 1364px;
//     height: 767px;
// }
// .swiper {
//     max-width: 1364px;
//     height: 767px;
//     //  display: flex;
    
//   }


.swiper {
  width: 600px;
  height: 300px;
  position: relative;
}

.slider-btn{
  position: absolute;
    top: 50%;
    z-index: 99;
    width: 30px;
    height: 50px;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
}
.right{
right: 20px;
background-image:url(../../img/arrow-right.svg);
background-repeat: no-repeat;
// background-position: center;
}
.left{
left: 20px;
background-image: url(../../img/arrow-left.svg);
background-repeat: no-repeat;
// background-position: center;
}

