.start__container {
    width: 1920px;
    height: 813px;
    opacity: 1;


    .photo-start{
        width: 1920px;
        height: 813px;
        background: 0% 0% no-repeat padding-box;
        opacity: 1;
        }

}
